body {
  background-color: #d5d5d5;
  font-family: 'Trebuchet MS', Arial
}

* {
margin: 0;
padding: 0;
border: 0;
}

#wrapper {
 width: 700px;
 height: 1100px;
 margin: 0 auto;   
 background-color: white;
}

header {
  float: left;
  width: 100%;
  height: 135px;
}

header .image{
  float: left;
  font-size: 50;
  width: 100%;
  height: 80px;
}

header .logo {
  float: left;
  width: 89px;
  height: 45px;
  border-right: 1px solid #ff0000;
  background-color: yellow;
  text-align: center;
  line-height: 45px;
  color: #990000;
}

 .main {
  float: left;
  width: 400px;
  height: 300px;
  background-color: gray;
  text-align: left;
  color: #990000;
}

.main ul {
  list-style: none;
}

 .card {
  float: left;
  width: 300px;
  height: 300px;
  background-color: yellow;
  text-align: center;
  color: #990000;
}

header nav {
  float: left;
  width: 609px;
  height: 45px;
  border-right: 1px solid #ff0000;
  background-color: orange;
  line-height: 45px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: left;
  margin-left: 15px;
  color:#555;
}
